{% extends 'base.html' %}

{%block title%}
 Blog 
{%endblock title%}
{%block body%}
<div class='container'>
<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/static/users/N7.png" class="d-block w-100" alt="...">
    </div>
  </div>
  
<div class='container>'
<img src="/static/users/P4.jpg" class="img-fluid" alt="...">
    <div class="container">
            <div class="row row-cols-1 row-cols-md-3 g-4">
              <div class="col">
                <div class="card h-100">
                  <img src="/static/users/F6.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Nagpur</h5>
                    <p class="card-text">Nagpur is a large city in the central Indian state of Maharashtra. The 19th-century Nagpur Central Museum displays items found locally, including fossils, sarcophagi and Mughal weaponry. The Raman Science Centre has hands-on exhibits and a planetarium. Sitabuldi Fort, in the Sitabuldi Hills, was the site of an 1817 battle.</p>
                  </div>
                  
                </div>
              </div>
              <div class="col">
                <div class="card h-100">
                  <img src="/static/users/F1.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Famous Food in Nagpur</h5>
                    <p class="card-text">1. Samosas · 2. Tarri Poha · 3. Saoji Delicacies · 4. Matka Biryani · 5. Pani Puri · 6. Paan · 7. Jalebi · 8. Sheermal and Rott.9 .Mataka Roti,etc 
                      Soan Roll
It is also known as “Soan Papdi”. Shree Hera Sweets Soan Roll is most popular sweet in Nagpur.
                    </p>
                  </div>
                  
                </div>
              </div>
              <div class="col">
                <div class="card h-100">
                  <img src="/static/users/F4.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">History of Nagpur</h5>
                    <p class="card-text">The city got its name from the River Nag or Nag people and is known since prehistoric times. Nagpur and its surrounding region also find a mention in the Vedic and Mauryan scriptures. 
                      Nagpur citys foundation was laid by the Gond King of Deogad "Bakht Buland Shah" in the year 1703. Chand Sultan, successor to Bakht Buland Shah, constructed a three-mile long wall around his City by the Nag River. In 1743, it became the capital of Raghoji Rao Bhonsles kingdom.</p>
                  </div>
                  
                </div>
              </div>
            </div>
            <div class="row row-cols-1 row-cols-md-3 g-4">
              <div class="col">
                <div class="card h-100">
                  <img src="/static/users/F3.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Culture of Nagpur</h5>
                    <p class="card-text">It is rich with cultural and literary societies which includes Vidarbha Sahitya Sangh (which is used for developing Marathi), Vidarbha Hindi Sahitya Sammelan (for promoting Hindi), Vidarbha Rashtrabhasha Prachar Samiti (used for spreading and promoting Hindi) and many more.
                       The Marathi Sahitya Sammelan, were conducted twice at Nagpur, which helped in empowering the Marathi Literature.
                    </p>
                  </div>
                  
                </div>
              </div>
              <div class="col">
                <div class="card h-100">
                  <img src="/static/users/F2.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Nagpur Metro</h5>
                    <p class="card-text">This corridor originates from Automotive Square on Kamptee Road; moves along Kamptee Road and reaches the intersection point of Amravati Road and Wardha Road, then after crossing fly over moves towards Munje Square, moves towards Dhantoli and along nala moves towards Empire/Dr Munje Marg, 
                      leads towards Congress Nagar T-Point, then on Rahate Colony Road and then falls on Wardha Road, leads towards NEERI, then moves along Wardha Road and then west of Railway Track in MIHAN area..</p>
                  </div>
                  
                </div>
              </div>
              <div class="col">
                <div class="card h-100">
                  <img src="/static/users/F5.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Nagpur Businesses </h5>
                    <p class="card-text">Nagpur (pronunciation: [naːɡpuːɾ]) is the third-largest city and the winter capital of the Indian state of Maharashtra.[18] Known as the "Orange City", Nagpur is the 13th largest city in India by population and according to an Oxford's Economics report, Nagpur is projected to be the fifth fastest growing city in the world from 2019 to 2035 with an average growth of 8.41%.[19] 
                      It has been proposed as one of the Smart Cities in Maharashtra and is one of the top ten cities in India in Smart City Project execution</p>
                  </div>
                  
                </div>
              </div>
            </div><br><br>
            <div class="col mb-3">
              <h5>Section</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Blog</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Contact</a></li>
              </ul>
            </div>
{%endblock body%}